@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  padding: 2rem 1.5rem;
  height: 100vh;
}

.ilustration {
  padding: 3rem 0;
  width: 110vw;
}

h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.441rem;
  text-transform: uppercase;
  padding: 1rem 0;
}

.intro {
  text-transform: uppercase;
  color: #5b5f71;
  font-size: 0.8rem;
}

.intro span {
  background-color: #242942;
  color: #eef3f6;
  font-weight: bold;
  border-radius: 2rem;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  letter-spacing: 0;
}

.intro {
  letter-spacing: 0.25rem;
}

input[type="button"] {
  background-color: #ff5c5c;
  color: #eef3f6;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}

input[type="button"]:hover {
  cursor: pointer;
  background: #ff8f8f;
}

a {
  text-decoration: none;
  color: #a0a1ac;
  margin-left: 1rem;
  letter-spacing: 0.1rem;
}

.txt {
  color: #242942;
  padding-bottom: 2rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.hide {
  display: none;
}

input,
a {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.8rem;
}

.menu {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(120%);
          transform: translateX(-50%) translateY(120%);
  background: white;
  width: 19rem;
  list-style: none;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.13);
  text-align: center;
  border-radius: 0.2rem;
  padding: 1rem;
}

.menu li {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3rem;
}

.log {
  border-top: 1px solid #a0a1ac;
  color: #a0a1ac;
}

@media (min-width: 1440px) {
  .open,
  .close {
    display: none;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    background: unset;
    left: unset;
    bottom: unset;
    width: unset;
    padding: unset;
  }
  .menu li {
    line-height: unset;
  }
  .menu .log {
    border: unset;
    padding-left: 2rem;
  }
  .ilustration {
    width: 100vmin;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  main {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "body img";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .img {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: img;
  }
  main .body {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: body;
  }
  body {
    padding-top: 3rem;
    padding-left: 10rem;
  }
  h3 {
    font-size: 3.052rem;
    max-width: 20ch;
  }
  h3 + p {
    max-width: 27ch;
  }
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tlo {
  z-index: -1;
  position: absolute;
  width: 45%;
  top: 0;
  right: 0;
  height: 50%;
  background-color: #eef3f6;
  border-radius: 0 0 0 15rem;
}
/*# sourceMappingURL=style.css.map */